<div class="box partido-small" data-id="1272" ng-controller="matchTableCtrl">
	<div class="resultado">
		<div class="escudo-box">
			<a href="http://www.comuniazo.com/comunio/equipos/real-madrid">
				<i class="spr-real-madrid"></i>
			</a>
		</div>
		<div class="equipo">
			<h2><a href="http://www.comuniazo.com/comunio/equipos/real-madrid">Swansea</a></h2>
		</div>
		<div class="marcador">
			<a href="http://www.comuniazo.com/liga-bbva/1272/real-madrid-getafe">
				<span>4</span><span>1</span>
			</a>
		</div>
		<div class="equipo aright">
			<h2><a href="http://www.comuniazo.com/comunio/equipos/getafe">Leicester</a></h2>
		</div>
		<div class="escudo-box">
			<a href="http://www.comuniazo.com/comunio/equipos/getafe">
				<i class="spr-getafe"></i>
			</a>
		</div>
	</div>
	<div class="left">
		<table>
			<tr>
				<td><span class="pos-1">PT</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/keylor-navas">
						<strong>Fabianski</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-1 pt-comunio">-1</td>
			</tr>
			<tr>
				<td><span class="pos-2">DF</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Taylor</strong>
					</a>
					<div class="eventos">
						<i class='tooltip icon-stop' style='color: #ffd800' title='Tarjeta amarilla, minuto 37'></i>
					</div>
				</td>
				<td class="opt pt-2 pt-comunio">2</td>
			</tr>
			<tr>
				<td><span class="pos-2">DF</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Williams</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-2 pt-comunio">4</td>
			</tr>
			<tr>
				<td><span class="pos-2">DF</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Bartley</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-right-circled' style='color: #00a2ff'
											title='Asistencia, minuto 4'></i><i class='tooltip icon-logout'
																				style='color: #f00'
																				title='Sustitución, minuto 87'></i>
					</div>
				</td>
				<td class="opt pt-2 pt-comunio">4</td>
			</tr>
			<tr>
				<td><span class="pos-2">DF</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Naughton</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-2 pt-comunio">3</td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Sung-yueng</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-right-circled' style='color: #00a2ff'
											title='Asistencia, minuto 38'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">1</td>

			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Britton</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-2 pt-comunio">2</td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Ayew</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-logout' style='color: #f00'
											title='Sustitución, minuto 62'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">3</td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Sigurdsson</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-right-circled' style='color: #00a2ff'
											title='Asistencia, minuto 16'></i><i class='tooltip icon-circle'
																				 style='color: #10af00'
																				 title='Gol, minuto 35'></i>
					</div>
				</td>
				<td class="opt pt-2 pt-comunio">1</td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Routdlege</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-circle' style='color: #10af00'
											title='Gol, minuto 4'></i><i class='tooltip icon-circle'
																		 style='color: #10af00'
																		 title='Gol, minuto 16'></i><i
							class='tooltip icon-logout' style='color: #f00'
							title='Sustitución, minuto 78'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">1</td>
			</tr>
			<tr>
				<td><span class="pos-4">DL</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Gomis</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-right-circled' style='color: #00a2ff'
											title='Asistencia, minuto 35'></i><i class='tooltip icon-circle'
																				 style='color: #10af00'
																				 title='Gol, minuto 38'></i>
					</div>
				</td>
				<td class="opt pt-2 pt-comunio">1</td>
			</tr>
			<tr class="divisor">
				<td colspan="7"></td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Montero</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-login' style='color: #10af00'
											title='Sustitución, minuto 62'></i></div>
				</td>
				<td class="opt pt-0 pt-comunio">0</td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Barrow</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-login' style='color: #10af00'
											title='Sustitución, minuto 78'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">2</td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Cork</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-login' style='color: #10af00'
											title='Sustitución, minuto 87'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">1</td>
			</tr>
		</table>
	</div>
	<div class="right">
		<table>
			<tr>
				<td><span class="pos-1">PT</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Schmeichel</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-2 pt-comunio">4</td>
			</tr>
			<tr>
				<td><span class="pos-2">DF</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Simpson</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-circle' style='color: #10af00'
											title='Gol, minuto 70'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">5</td>
			</tr>
			<tr>
				<td><span class="pos-2">DF</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Morgan</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-2 pt-comunio">4</td>
			</tr>
			<tr>
				<td><span class="pos-2">DF</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Huth</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-2 pt-comunio">3</td>
			</tr>
			<tr>
				<td><span class="pos-2">DF</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Fuchs</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-2 pt-comunio">5</td>
			</tr>
			<tr class="star">
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Mahrez</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-3 pt-comunio">22</td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Drinkwater</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-3 pt-comunio">6</td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Kanté</strong>
					</a>
					<div class="eventos"></div>
				</td>
				<td class="opt pt-3 pt-comunio">7</td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Albrighton</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-logout' style='color: #f00'
											title='Sustitución, minuto 80'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">3</td>
			</tr>
			<tr>
				<td><span class="pos-4">DL</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Ulloa</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-logout' style='color: #f00'
											title='Sustitución, minuto 62'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">4</td>
			</tr>
			<tr>
				<td><span class="pos-4">DL</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Vardy</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-logout' style='color: #f00'
											title='Sustitución, minuto 46'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">4</td>
			</tr>
			<tr class="divisor">
				<td colspan="7"></td>
			</tr>
			<tr>
				<td><span class="pos-3">MC</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>Schlupp</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-login' style='color: #10af00'
											title='Sustitución, minuto 46'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">1</td>
			</tr>
			<tr>
				<td><span class="pos-2">DF</span></td>
				<td class="ancho">
					<a href="http://www.comuniazo.com/comunio/jugadores/danilo">
						<strong>King</strong>
					</a>
					<div class="eventos"><i class='tooltip icon-login' style='color: #10af00'
											title='Sustitución, minuto 62'></i><i
							class='tooltip icon-right-circled' style='color: #00a2ff'
							title='Asistencia, minuto 70'></i></div>
				</td>
				<td class="opt pt-2 pt-comunio">1</td>
			</tr>
		</table>
	</div>
</div>