<!-- Displays a table with the ToDo's information in the variable [toDos] -->
<div id="pointsTableDiv">
    <table class="table table-striped pointstable">
        <thead>
        <tr>
            <th class="col-sm-1">
                Pos
            </th>
            <th class="col-sm-3">
                Player
            </th>
            <th class="col-sm-1">
                Rating
            </th>
            <th class="col-sm-1">
                Points
            </th>
            <th class="col-sm-3">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in players">
            <td>
                <span class="pos-{{player.Pos}}">{{player.Pos | transformPosition }}</span>
            </td>
            <td>
                <span>{{player.Name}}</span>
            </td>
            <td>
                <span>{{player.Rating}}</span>
            </td>
            <td style="text-align: center">
                <span>{{player.ComunioRating}}</span>
            </td>
        </tr>
        <tr></tr>
        <tr id="totalPointsRow">
            <td>
                <span>Total</span>
            </td>
            <td></td>
            <td></td>
            <td>
                <span ng-bind="totalPoints()"></span>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>